@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

header {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4em;
    text-align: center;
    color: white;
}

header img {
    margin-bottom: 1em;
    width: 12em;
    height: auto;
    transition: .8s ease-in-out;
    border-radius: 8px;
    margin-top: 1em;
}

head img:hover {
    transform: rotate(360deg), scale(1.5);
}

header h1 {
    font-family: "Hachi Maru Pop";
}